streamlit
pandas
matplotlib
fpdf
textblob
transformers
torch
plotly
streamlit-lottie
Pillow
requests
streamlit-extras
speechrecognition
pyttsx3
googletrans==4.0.0-rc1
python-docx
PyPDF2
streamlit-mic-recorder
textstat
evaluate
rouge-score
datasets
