streamlit
sqlite3-_stub
# torch and transformers are the heavy ones for AI models
torch
transformers
sentencepiece
sacremoses
# Other app dependencies
pandas
matplotlib
fpdf2
textblob
plotly
requests
Pillow
streamlit-lottie
sqlalchemy
streamlit-extras
SpeechRecognition
pyttsx3
googletrans==4.0.0-rc1
python-docx
PyPDF2
streamlit_mic_recorder
textstat
evaluate
rouge_score
datasets
google-generativeai
